/* BODY */

body{
    border: 0;
    margin: 0;
}

ul{
    list-style-type: none;  
}

.left{
    display: flex;
    flex-direction:column;
    width: 60%;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 24px;
}

.right{
    padding-right: 24px;
}

.top{
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    margin: 0;
    justify-content: center;
}

.top h1{
    margin: 0;
}

.card{
    display: flex;
    border-right: 0;
}

.card img{
    width: 35%;
    height: auto;
    padding: 16px;
}

.container ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.container h2,
.container h3{
    margin: 0;
}

/* NAV BAR */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 64px;
}

nav img{
    height: 48px;
    width: auto;
    display: flex;
    justify-content: center;
}

nav .left ul{
    display: flex;
    align-items: center;
    font-size: 32px;
    text-align: center;
}

nav .right ul{
    display: flex;
    gap:16px;
}

/* BANNER */
.banner{
    background-color: #dfdddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #414040;
    color: #ffffff;
    height: 40px;
    width: 95%;
    border-color: #414040;
    font-size: 18px;
}

/* INFORMATION */
.information,
.thesis{
    display: flex;
}

.information .left ul,
.thesis .left ul{
    margin: 0;
    padding: 0;
}

.information .right{
    border: 1px dotted gray;
}

.information .right,
.thesis .right{
    width: 40%;
    border-top: 0;
    border-right: 0;
    padding: 0;
    margin: 0;
}

.information .card{
    border: 1px dotted gray;
}

.read{
    color: #3737e6;
}

/* COURSE */
.course{
    background-color: #a39f9f;
    padding: 32px 72px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.description{
    background-color: #ffffff;
    padding: 16px 16px;
    margin: 0;
    gap: 8px
}



/* THESIS */
.thesis .container{
    padding-top: 32px;
    padding-right: 4px;
}

/* FOOTER */
footer{
    border: 1px dotted gray;
    display: flex;
    justify-content: space-between;
    height: 96px;
}

footer .left{
    padding: 0;
    margin: 0;
}

footer h3{
    margin: 0;
    padding-top: 16px;
    padding-left: 24px;
}

footer .right ul{
    display: flex;
    gap:16px;
}